<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /tum/tumsdachurch.org/admin/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /tum/tumsdachurch.org/admin/index.html [L]
</IfModule>
